@model IEnumerable<DBFirstMVC.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            BloggerName
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlogId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.BloggerName
        </td>
    </tr>
}

</table>

